@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Pirata+One&family=Yellowtail&display=swap');

:root {
    --primary-color: #fb6f92;
    --secondary-color: #ff8fab;
    --alternative-color: #ffb3c6;
    --font-family: 'Pirata One', system-ui;
    --Ballet-font: 'Ballet', cursive;
    --mono-font-family: 'Geist Mono', monospace;
}

body {
    /* margin: 0; */
    overflow-x: hidden;
    background-color: var(--alternative-color);
    font-family: var(--font-family);
    font-size: 20px;
    color: rgb(var(--foreground-rgb));
    text-align: center;
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.main-navbar {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Navbar link renklerini ayarlayalım */
.main-navbar .nav-link,
.main-navbar .navbar-brand {
    color: var(--primary-color) !important;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.hero-texts {
    color: #fff;
    position: relative;
    padding-top: 15px;
    padding-bottom: 0px;
    border-top: #fff 4px solid;
    border-bottom: #fff 4px solid;
    z-index: 2;
}

.hero .hero-title {
    font-size: 40px;
    text-align: center;
}

.hero .hero-subtitle {
    font-size: 30px;
    text-align: center;
}

.hero .hero-date {
    font-size: 30px;
    text-align: center;
}

.font-ballet {
    font-family: var(--Ballet-font);
}

.timer-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.timer-container .timer-box {
    width: 120px;
    height: 120px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    /* Elementleri alt alta sıralar */
    justify-content: center;
    align-items: center;
}

.timer-container .timer-box .timer-number {
    font-size: 40px;
    margin-bottom: -10px;
    font-weight: bold;
}

.timer-container .timer-box .timer-param {
    font-size: 30px;
    font-weight: bold;
}

.cupple-container {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cupple-container .cupple-photos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0px;
}

.cupple-container .cupple-photos-container .cupple-item {
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cupple-container .cupple-photos-container .cupple-icon {
    color: var(--primary-color);
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cupple-container .cupple-photos-container .cupple-icon span {
    font-size: 75px;
    margin: 0 20px;
}

.cupple-container .cupple-photos-container .cupple-item img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid var(--secondary-color);
}

.cupple-container .cupple-message-container .cupple-title {
    font-size: 40px;
    font-weight: bold;
    color: var(--secondary-color);
}

.cupple-container .cupple-message-container .cupple-subtitle {
    font-size: 20px;
    font-weight: lighter;
    font-family: var(--Ballet-font);
    color: gray;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 10px auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #ffb3c6;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border: #ffb3c6 0px solid;
    border-radius: 50px 50px 50px 50px;
}

.timeline .timeline-left-card::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -15px;
    background-color: white;
    border: 4px solid var(--alternative-color);
    top: 40%;
    border-radius: 50%;
    z-index: 1;
}

.timeline .timeline-right-card::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: -12px;
    background-color: white;
    border: 4px solid var(--alternative-color);
    top: 40%;
    border-radius: 50%;
    z-index: 1;
}

.timeline .timeline-left-card {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    left: 0;
    border-color: var(--alternative-color);
    border-radius: 25px 50px 50px 25px;
}

.timeline .timeline-right-card {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    left: 50%;
    border-color: var(--alternative-color);
    border-radius: 50px 25px 25px 50px;
}

.timeline .timeline-right-card::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 15px;
    width: 0;
    z-index: 1;
    right: -15px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.timeline .timeline-left-card::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 15px;
    width: 0;
    z-index: 1;
    left: -15px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}